body,
html {
    margin: 0;
    padding: 0;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.global {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    background: url(https://web.archive.org/web/20140301004302im_/http://images.apple.com/v/home/as/images/your_verse_hero.jpg) 50% 100% no-repeat;
    overflow: hidden;
}

.global-nav {
    position: relative;
    top: 70px;
    left: 180px;
    right: auto;
    width: auto;
    overflow: hidden;
}

.global-nav ul {
    list-style: none;
    border-radius: 8px;
}

.global-nav li:hover {
    background: linear-gradient(to bottom, #585454 50%, #474141 60%, #7c6e6e 100%);
}

.global-nav li {
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    float: left;
    border-right: 1px solid rgb(119, 119, 119);
    width: 65px;
    cursor: pointer;
    background: linear-gradient(to bottom, #797979 50%, #5e5e5e 60%, #797979 100%);
}

.global-search {
    position: relative;
    top: -27px;
    left: 51%;
    width: 100px;
    padding: 0;
    background-image: none;
    background: linear-gradient(to bottom, #797979 50%, #5e5e5e 60%, #797979 100%);
}

.global-link {
    pointer-events: none;
}

.global-nav input[type=text] {
    float: right;
    padding: 4px;
    border: none;
    background: linear-gradient(to bottom, #797979 50%, #5e5e5e 60%, #797979 100%);
    border-radius: 6px;
    box-shadow: inset 0px 1px 5px 0px rgb(59, 57, 57);
    z-index: 0;
    margin-top: -19px;
    height: 10px;
    cursor: default;
}

.global-link {
    width: 100px !important;
}

.global-link i {
    position: relative;
    top: 0;
    left: -40%;
}

.gn-apple {
    font-size: 24px;
    padding: 7px 16px !important;
}

.your-verse{
    position: relative;
    top: 100px;
    left: 230px;
}
.your-verse p {
    position: relative;
    left: 230px;
    color: white;
    font-size: 24px;
    font-family: 'Roboto';
}
.tittle{
    width: auto;
    height: 94px;
}

.your-verse p a {
    text-decoration: none;
    color: white;
}

.your-verse p a:hover {
    text-decoration: underline;
}

.iphone5s {
    background-image: url(img/promo_iphone5s.jpg);
}

.iphone5c {
    background-image: url(img/promo_iphone5c.jpg);
}

.happybirthday {
    background-image: url(img/promo_30_years.jpg);
}

.supplier {
    background-image: url(img/promo_supplier_responsibility.jpg);
}

.promos ul {
    width: 100%;
    height: 200px;
    position: relative;
    top: 550px;
    left: -40px;
    margin: 0;
    overflow: hidden;
}

.promos ul li {
    float: left;
    width: 25%;
    height: 200px;
    list-style-type: none;
}

.home-footer {
    position: relative;
    z-index: 1;
    right: 0;
    top: 540px;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 90px;
    padding: 0;
    color: #6e6e6e;
    font-size: .8334em;
    line-height: 1.2;
    text-align: center;
    zoom: 1;
    background-color: white;
}

.left {
    float: left;
    clear: both;
    width: 49%;
    padding-top: 1.5em;
    text-align: left;
    margin-left: 150px;
}

.right {
    float: right;
    width: 51%;
    padding-top: 1.5em;
    margin-top: -60px;
    margin-right: 90px;
}

.left p a,
.right p a {
    color: rgb(0, 136, 204);
    text-decoration: none;
}

.right p a:hover,
.left p a:hover {
    text-decoration: underline;
}

.piped {
    border-left: 1px solid #ccc;
    margin-left: .6em;
    padding-left: .6em;

}
.usa{
    margin-bottom: -5px;
    margin-left: .6em;
}
.right-pipe{
    border-right: 1px solid #ccc;
    margin-right: .6em;
    padding-right: .6em;
}